
data/.DS_Store
data/multinli_1.0.zip
data/multinli_1/.DS_Store
data/multinli_1/Icon
data/multinli_1/multinli_1.0_dev_matched.jsonl
data/multinli_1/multinli_1.0_dev_matched.txt
data/multinli_1/multinli_1.0_dev_mismatched.jsonl
data/multinli_1/multinli_1.0_dev_mismatched.txt
data/multinli_1/multinli_1.0_train.jsonl
data/multinli_1/multinli_1_train.txt
data/multinli_1/paper.pdf
data/multinli_1/README.txt
data/snli_1/.DS_Store
data/snli_1/Icon
data/snli_1/README.txt
data/snli_1/snli_1.0_dev.jsonl
data/snli_1/snli_1.0_dev.txt
data/snli_1/snli_1.0_train.jsonl
data/snli_1/snli_1.test.jsonl
data/snli_1/snli_1_test.txt
data/snli_1/snli_1_train.txt
data/multinli_1/Icon
data/snli_1/Icon
.DS_Store
data/MNLI/train.tsv
data/MNLI/test_mismatched.tsv
data/MNLI/test_matched.tsv
data/MNLI/README.txt
data/MNLI/original/multinli_1_train.jsonl
data/MNLI/original/multinli_1.0_train.txt
data/MNLI/original/multinli_1.0_dev_mismatched.txt
data/MNLI/original/multinli_1.0_dev_mismatched.jsonl
data/MNLI/original/multinli_1.0_dev_matched.txt
data/MNLI/original/multinli_1.0_dev_matched.jsonl
data/MNLI/mnli_bart_train.jsonl
data/MNLI/mnli_bart_test.jsonl
data/MNLI/dev_mismatched.tsv
data/MNLI/dev_matched.tsv
output/MNLI/1500_mnli_cond_pairs_contrast_hypos.csv
output/MNLI/1500_mnli_cond_pairs_tagged_hypos.csv
output/MNLI/1500_pairs_mnli_cond_pairs.csv
output/MNLI/2345_mnli_cond_pairs_tagged_flipclass_samples.csv
output/MNLI/2345_mnli_cond_pairs_tagged_hypos.csv
output/MNLI/2500_mnli_cond_pairs_cleaned.csv
output/MNLI/2500_mnli_cond_pairs_tagged_hypos.csv
output/MNLI/2700_mnli_cond_pairs_tagged_hypos.csv
output/MNLI/500_mnli_cond_pairs_tagged_hypos.csv
