
data/.DS_Store
data/multinli_1.0.zip
data/multinli_1/.DS_Store
data/multinli_1/Icon
data/multinli_1/multinli_1.0_dev_matched.jsonl
data/multinli_1/multinli_1.0_dev_matched.txt
data/multinli_1/multinli_1.0_dev_mismatched.jsonl
data/multinli_1/multinli_1.0_dev_mismatched.txt
data/multinli_1/multinli_1.0_train.jsonl
data/multinli_1/multinli_1_train.txt
data/multinli_1/paper.pdf
data/multinli_1/README.txt
data/snli_1/.DS_Store
data/snli_1/Icon
data/snli_1/README.txt
data/snli_1/snli_1.0_dev.jsonl
data/snli_1/snli_1.0_dev.txt
data/snli_1/snli_1.0_train.jsonl
data/snli_1/snli_1.test.jsonl
data/snli_1/snli_1_test.txt
data/snli_1/snli_1_train.txt
data/multinli_1/Icon
data/snli_1/Icon
.DS_Store
